<div class="name-container text-center">
  <div id="first-name">Gerardo</div>
  <img src="img/selfie.png" class="rounded-circle" id="selfie"></img>
  <div id="last-name">Sandoval</div>
  <div id="description">Hello, I'm a web engineer based in Mexico City.</div>
</div>
<div class="container">
	<div class="row align-items-center h-100">
		<div class="about-me col-sm">
			<img src="img/AboutMe.jpg"></img>
			<h5>About me</h5>
		</div>
		<div class="blog col-sm">
			<img src="img/Blog.jpg"></img>
			<h5>Blog</h5>
		</div>
		<div class="projects col-sm">
			<img src="img/Projects.jpg"></img>
			<h5>Projects</h5>
		</div>
	</div>
</div>