body{
  color: #050505;;
  font-family: 'Handycheera' !important;
  height: 100vh;
  min-width: 320px;
  background-color: #fafafa;
}

.name-container{
  font-size: 50px;
  background-color: #fff;
  padding: 50px;
  min-height: 270px;
  height: 70%;
  border-bottom: 1px solid #ebebeb;

  .full-name{ width: 100%; }

  #name{ display: inline-block; }

  #selfie{
    background-color: #050505;
    height: 80px;
    width: 80px;
    border: 2px solid #050505; 
    display: inline-block;
  }
  
  #description{
    margin-top: 2rem;
    font-size: 30px;
    font-family: monospace;
    color: #03254E;
  }
}

@media (max-width: 575px) {
  .name-container{
    min-height: 380px;
    
    #description{ font-size: 24px; } 
  }
}

.navigation{
  height: 30%;
  text-align: center;
  color: #fff;

  .row{
    div {
      max-width: 100%;
      background-color: #fafafa;;
      margin: 1rem;
      padding: 0;

      img{
        position: relative;
        width: 100%;
        opacity: 0.7;
      }

      h3{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }
    }

    div:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      
      img{ opacity: 1; }
    }
  }
} 
