body{
  color: #050505;;
  font-family: monospace !important;
  height: 100vh;
  min-width: 320px;
  background-color: #fafafa;
}

.name-container{
  font-family: 'Handycheera';
  font-size: 60px;
  background-color: #fff;
  padding: 50px;
  min-height: 270px;
  height: 50%;
  border-bottom: 1px solid #ebebeb;

  .full-name{ 
    width: 100%;
  }  

  #name{ display: inline-block; }

  #selfie{
    background-color: #050505;
    height: 100px;
    width: 100px;
    border: 2px solid #050505; 
    display: inline-block;
  }
  
  #description{
    font-size: 35px;
    font-family: monospace;
    color: #03254E;
  }
}

@media (max-width: 575px) {
  .name-container{
    min-height: 380px;
    
    #description{ font-size: 24px; } 
  }
}

.contact{
  height: 50%;
  padding-top: 5%;

  .row{
    margin-top: 30px;

    img {
      height: 50px;
      width: 50px;
      margin: 10px;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.12);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      border-radius:50%;
    }

    img:hover{
      box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.12);
    }
  }
}
