body{
  color: white;
  font-family: 'Handycheera';
  height: 100vh;
}

.name-container{
  font-size: 50px;
  background-color: #1e1e1e;
  height: 100%;

  #first-name{
    margin-left: -100px;
  }

  #selfie{
    background-color: white;
    margin-left: -25px;
    height: 80px;
    width: 80px;
    border: 2px solid white; 
  }

  #last-name{
    margin: -50px 0 0 100px;
  }
}

.description{
  font-family: helvetica;
  font-size: 30px;
}
